html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.camera {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  right: 0;
  background-color: black;
}

.canvas {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.barn-dance {
  background-image: url("/assets/barn-dance.jpeg");
  background-position: 0 -20px;
}

.disco {
  background-image: url("/assets/disco.jpeg");
  background-position: 0 -120px;
}

.berlin {
  background-image: url("/assets/berlin.jpeg");
  background-position: 0 -120px;
}

.balkan {
  background-image: url("/assets/balkan.png");
}
.balkan-kafana {
  background-image: url("/assets/balkan-kafana.jpg");
  background-position: 0 -120px;
}
